<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.APP_EMAIL" />
        </intent>
    </queries>

    <application
        android:name=".homeScreen.WaveXApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaveX">
        <activity
            android:name=".downloadSong.downloadedSongScreen.DownloadedSongActivity"
            android:exported="false"
            android:label="@string/title_activity_downloaded_song"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".playerScreen.PlayerActivityScreen"
            android:exported="false"
            android:label="@string/title_activity_player_screen"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".libraryScreen.likedSongsScreen.LikedSongsActivity"
            android:exported="false"
            android:label="@string/title_activity_liked_songs_activity"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".libraryScreen.playlistScreen.PlaylistActivity"
            android:exported="false"
            android:label="@string/title_activity_playlist"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".profileScreen.playlistsScreen.PlaylistsActivity"
            android:exported="false"
            android:label="@string/title_activity_playlists"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".profileScreen.settingScreen.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".profileScreen.albumsScreen.AlbumsActivity"
            android:exported="false"
            android:label="@string/title_activity_albums"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".profileScreen.artistsScreen.ArtistsActivity"
            android:exported="false"
            android:label="@string/title_activity_artists_activity"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".profileScreen.favouriteSongsScreen.FavouriteSongsActivity"
            android:exported="false"
            android:label="@string/title_activity_favourite_songs"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".profileScreen.yourProfileScreen.YourProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_your_profile"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".profileScreen.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".playlistScreen.PlaylistActivity"
            android:exported="false"
            android:label="@string/title_activity_playlist_activity"
            android:theme="@style/Theme.WaveX" />

        <service
            android:name=".service.MusicPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|dataSync" />

        <activity
            android:name=".albumScreen.AlbumActivity"
            android:exported="false"
            android:label="@string/title_activity_album"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".artistScreen.allAlbumsScreen.AllAlbumsActivity"
            android:exported="false"
            android:label="@string/title_activity_all_albums_screen"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".artistScreen.allSongsScreen.AllSongsActivity"
            android:exported="false"
            android:label="@string/title_activity_all_songs"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".artistScreen.ArtistActivity"
            android:exported="false"
            android:label="@string/title_activity_artist"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".MainScreen"
            android:exported="true"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.WaveX">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="wavex-edd95.web.app"
                    android:pathPrefix="/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyEmail"
            android:exported="false"
            android:label="@string/title_activity_verify_code"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.WaveX" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WaveX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>